body {
    background-color: #f8f8ff;
    text-align: center;
    color: black !important;
}

form{
  color: black !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
